<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./../css/estilos.css">
    <link rel="icon" type="image/x-icon" href="./../images/MF-2-Photoroom.ico" >
    <title>Productos</title>
</head>
<body>
    <header>
        <h1><img class="logo" src="./../images/MF-2-Photoroom.png" alt="logo de la empresa mariofitness" width="500" height="500"></h1>
        <nav class="links-navegador2">
            <a href="./../index.html">Inicio</a>
            <a href="#">Productos</a>
            <a href="./presupuestos.html">Presupuestos</a>
            <a href="./contacto.html">Contacto</a>
        </nav>
    </header>
    
    <main class="main-galeria">
        <div class="gallery-item"><img class="gallery-item" src="./../images/chica-mfteam.jpg" alt="Imagen 1" width="1290" height="2255"></div>
        <div class="gallery-item"><img class="gallery-item" src="./../images/espalda.jpg" alt="Imagen 2"  width="1290" height="1155"></div>
        <div class="gallery-item"><img class="gallery-item" src="./../images/frente.jpg" alt="Imagen 3" width="1290" height="1162"></div>
        <div class="gallery-item"><img class="gallery-item" src="./../images/triceps.jpg" alt="Imagen 4" width="1290" height="1158"></div>
        <div class="gallery-item"><img class="gallery-item" src="./../images/relajado.jpg" alt="Imagen 5"  width="1290" height="1134"></div>
        <div class="gallery-item"><img class="gallery-item" src="./../images/sergio-gomez.jpg" alt="Imagen 6" width="1290" height="2284"></div>
    </main>
    
    <footer>
        <p class="texto-pie">¡SÍGUEME!</p>
        <a href="https://www.instagram.com/maario_fitness/" title="enlace que lleva a instagram" target="_blank">
        <img class="redes-sociales"  src="./../images/instagram.png" alt="icono de instagram" width="512" height="512"></a>
        <a href="https://www.facebook.com/people/MarioFitness-Entrenador-Online/61558977016262/" title="enlace que lleva a facebook" target="_blank">
        <img class="redes-sociales" src="./../images/facebook.png" alt="icono de facebook" width="512" height="512"></a>
        <div class="direccion">
            <img class="foto-direccion" src="./../images/direccion.png" alt="icono de direccion">
            <p class="texto-direccion">C/ancha,17 (Novés,Toledo)</p>
        </div>
        <p> © 2024 Mario Gómez</p>
    </footer>
</body>
</html>